
{% set allEntries = craft.entries.section('newswire').limit(null) %}

    <ul class="releases">
      
        {% for date, entries in allEntries | group("postDate|date('F Y')") limit="10" %}
            <h3>{{ date }}</h3>
            <ul class="headline--list">
                {% for entry in entries %}
                    <li><a href="{{ entry.getLink() }}">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endfor %}


<a href="/archives">View Archives</a>
